<div class="container">
    <mat-card class="title mat-elevation-z4">
        <h1>Bem vindo!</h1>    
        <p>Sistema de Registro do ponto</p> 
    </mat-card>
    
    <mat-card class="warning">
        <i class="material-icons">
            warning
        </i>    
        <div class="content">
            <p><b>- Somente horas reais trabalhadas deverão ser lançadas.</b></p>
            <p>Por exemplo:</p>
            <p>8:30 - 11:30 - Projeto X</p>
            <p>12:30 - 15:00 - Projeto Y</p>
            <p>15:00 - 18:18 - Projeto Z</p>
            <p><b>- Férias, abonos e outros deverão ser notificados ao RH ou Coordenador para que o RH registre no sistema;</b></p>
            <p><b>- Você poderá visualizar seu saldo do banco de horas e valor de Horas Extras no próprio sistema.</b></p>
        </div>
    </mat-card>
    <button mat-raised-button color="accent">
        Registrar Ponto
    </button>
</div>
