<mat-card class="title mat-elevation-z4">
    <h1>Meus Dados</h1>    
</mat-card>

<mat-card class="container">
    <div class="box-form">
        <form>
            <mat-form-field>
                <mat-label>Nome Completo:</mat-label>
                <input matInput placeholder="Insira seu nome">
            </mat-form-field>
            <mat-form-field>
                <mat-label>E-mail:</mat-label>
                <input matInput placeholder="Insira seu e-mail" type="email" >
            </mat-form-field>
            <mat-form-field>
                <mat-label>Fone:</mat-label>
                <input matInput placeholder="Insira seu telefone" type="tel">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Estado:</mat-label>
                <input matInput placeholder="Insira seu estado">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Cidade</mat-label>
                <input matInput placeholder="Insira sua cidade" type="password" >
            </mat-form-field>
            <input type="file" multiple="multiple" accept="image/*"/>
        </form>
    </div>
    <button mat-fab color="accent">
        <mat-icon>edit</mat-icon>
    </button>
</mat-card>