<div class="main-login">
    <img src="assets/img/logo-header.png" alt="logo">
    <mat-card class="box-login">
        <div class="box-form">
            <form>
                <mat-form-field>
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Insira seu usuario">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="Insira sua senha" type="password">
                </mat-form-field>
                <button mat-raised-button color="accent"routerLink="/home">
                    Login
                </button>
                <button mat-raised-button color="link" routerLink="/register"> 
                    Registrar-se
                </button>
            </form>
        </div>
    </mat-card>
</div>