<mat-card class="title mat-elevation-z4">
    <h1>Alterar Senha</h1>    
</mat-card>

<mat-card class="container">
    <div class="box-form">
        <mat-label>Usuario: Renan Valentim</mat-label>
        <form>
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Nova Senha:</mat-label>
                <input matInput placeholder="Insira sua nova senha">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirme a nova senha:</mat-label>
                <input matInput placeholder="COnfirme a senha" type="password" >
            </mat-form-field>
        </form>
    </div>
    <button mat-fab color="accent">
        <mat-icon>save</mat-icon>
    </button>
</mat-card>