.container{
    display: flex;
    flex-direction: column;
    width: 65vh;
    height: 70vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: black;
    opacity: 0.85;
    border-radius: 15px;
}

.container button{
    margin-top: 8vh;
}

.title{
    background-color: #e7e1e1;
}

.title h1{
    font-size: 30px;
    font-family: sans-serif;
    color:black;
    text-align: center;
}


.box-register{
    display: flex;
   
}
 
 
.box-form form{
    
    display: flex;
    flex-direction: column;
    width: 45vh;
}

.title{
    margin-bottom:20px;
}